# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure (future proof)
allure-results/
allure-report/

# OS junk
.DS_Store
Thumbs.db

cred.env